Repository SrainApp/srain, pull requests merged in 2019-04, with the labels that each got.

#170 Fix endless SASL auth
  src/core/app_irc_event.c
Labels: bug, difficulty-medium, mod-core

#171 Fix /unquery command
  src/core/chat_command.c
Labels: bug, difficulty-easy, mod-core

#175 Add Russian translation
  po/LANGS
  po/ru.po
Labels: mod-i18n

#176 Fix locale category directory
  src/lib/i18n.c
Labels: bug, mod-i18n, mod-lib
