Repository SrainApp/srain, pull requests merged in 2020-10, with the labels that each got.

#266 Introduce meson build system
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .gitignore
  Makefile
  Makefile.in
  configure
  data/Makefile
  data/icons/hicolor/128x128/apps/im.srain.Srain.Red.png
  data/icons/hicolor/128x128/apps/im.srain.Srain.png
  data/icons/meson.build
  data/meson.build
  data/metainfo/meson.build
  data/metainfo/srain.metainfo.xml.in.in
  data/srain.desktop.in.in
  data/srain.gresource.xml
  data/themes/meson.build
  data/ui/window.glade
  doc/Makefile
  doc/faq.rst
  doc/install.rst
  doc/meson.build
  meson.build
  meson_options.txt
  po/LINGUAS
  po/Makefile
  po/meson.build
  src/Makefile
  src/config/manager.c
  src/config/password2.h
  src/filter/filter.c
  src/filter/filter2.h
  src/filter/log_filter.c
  src/filter/pattern_filter.c
  src/filter/user_filter.c
  src/inc/i18n.h
  src/inc/meta.h
  src/lib/libecdsaauth/Makefile
  src/meson.build
  src/sui/sui_misc_message.c
Labels: cleanup, mod-build

#267 Fix some use-after-free cases
  src/core/server_state.c
  src/sui/sui_chat_buffer.c
Labels: bug, mod-ui

#270 Fix implicit-declaration error on some systems
  src/lib/path.c
Labels: mod-lib, os-linux

#271 Add special exception with OpenSSL to LICENSE
  LICENSE
Labels: mod-misc

#269 Add FreeBSD implementations for srn_get_executable_{path,dir}
  src/lib/path.c
Labels: mod-lib, os-bsd

#273 Allow invalid version string
  script/gen-build-id.sh
  src/core/app.c
  src/core/app_irc_event.c
  src/meson.build
  src/sui/sui_app.c
Labels: bug, mod-core
